*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
.box{
    width: 300px;
    height: 300px;
    background: darkcyan;
    position: relative;
    margin: auto;
}
.box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;


    width: 100px;
    height: 200px;
    background: red;
}
.box::after{
    content: "Hello world";
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;


    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100px;
    background: blue;
    z-index: 3;
}
.photo{
    width: 300px;
    height: 300px;
    object-fit: cover;
    background: url(OIP.jpg);
    margin: 30px auto;
    position: relative;
   overflow: hidden;
}
.photo::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #0003;
    transition: .2s;
}
.photo:hover::before{
    left: 0;
    
}
.photo::after{
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background: #0003;
    transition: .2s;
}
.photo:hover::after{
    right: 0;
}








